<div class="notification is-info">
  Phần mở rộng là input có khả năng thu thập một nhóm các dữ liệu, về cơ bản là sự kết hợp các input, button, select,
  checkbox với nhau. Các thành phần được thêm vào không bị giới hạn bởi số lượng mà bị giới hạn bởi kích thước chiều
  "width". Tùy vào yêu cầu của spec mà các mục thêm vào được điểu kiến để thay đổi về trạng thái, màu sắc, kích thước,...
</div>
<div class="columns">
  <div class="column is-4">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" placeholder="Find a repository">
      </div>
      <div class="control">
        <a class="button is-info">
          Search
        </a>
      </div>
    </div>
    <div class="field has-addons">
      <p class="control">
        <input class="input" type="text" placeholder="Your email">
      </p>
      <p class="control">
        <a class="button is-static">
          @gmail.com
        </a>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <input class="input" type="text" placeholder="First name">
      </p>
      <p class="control">
        <input class="input" type="text" placeholder="Last name">
      </p>
    </div>
  </div>
  <div class="column is-4">
    <div class="field has-addons">
      <p class="control">
    <span class="select">
      <select>
        <option>$</option>
        <option>£</option>
        <option>€</option>
      </select>
    </span>
      </p>
      <p class="control">
        <input class="input" type="text" placeholder="Amount of money">
      </p>
      <p class="control">
        <a class="button">
          Transfer
        </a>
      </p>
    </div>

    <div class="field has-addons">
      <p class="control">
    <span class="select">
      <select>
        <option>$</option>
        <option>£</option>
        <option>€</option>
      </select>
    </span>
      </p>
      <p class="control is-expanded">
        <input class="input" type="text" placeholder="Amount of money">
      </p>
      <p class="control">
        <a class="button">
          Transfer
        </a>
      </p>
    </div>
  </div>
</div>
