<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>Default</th>
    <th>Hover</th>
    <th>Focus</th>
    <th>Active</th>
    <th>Disable</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="4">Default color</td>
  </tr>
  <tr>
    <td><input class="input"></td>
    <td><input class="input is-hovered"></td>
    <td><input class="input is-focused"></td>
    <td><input class="input is-active"></td>
    <td><fieldset disabled><input class="input"></fieldset></td>
  </tr>
  <tr>
    <td colspan="4">Primary color</td>
  </tr>
  <tr>
    <td><input class="input is-primary"></td>
    <td><input class="input is-primary is-hovered"></td>
    <td><input class="input is-primary is-focused"></td>
    <td><input class="input is-primary is-active"></td>
    <td><fieldset disabled><input class="input is-primary"></fieldset></td>
  </tr>
  <tr>
    <td colspan="4">Success color</td>
  </tr>
  <tr>
    <td><input class="input is-success"></td>
    <td><input class="input is-success is-hovered"></td>
    <td><input class="input is-success is-focused"></td>
    <td><input class="input is-success is-active"></td>
    <td><fieldset disabled><input class="input is-success"></fieldset></td>
  </tr>
  <tr>
    <td colspan="4">Info color</td>
  </tr>
  <tr>
    <td><input class="input is-info"></td>
    <td><input class="input is-info is-hovered"></td>
    <td><input class="input is-info is-focused"></td>
    <td><input class="input is-info is-active"></td>
    <td><fieldset disabled><input class="input is-info"></fieldset></td>
  </tr>
  <tr>
    <td colspan="4">Warning color</td>
  </tr>
  <tr>
    <td><input class="input is-warning"></td>
    <td><input class="input is-warning is-hovered"></td>
    <td><input class="input is-warning is-focused"></td>
    <td><input class="input is-warning is-active"></td>
    <td><fieldset disabled><input class="input is-warning"></fieldset></td>
  </tr>
  <tr>
    <td colspan="4">Danger color</td>
  </tr>
  <tr>
    <td><input class="input is-danger"></td>
    <td><input class="input is-danger is-hovered"></td>
    <td><input class="input is-danger is-focused"></td>
    <td><input class="input is-danger is-active"></td>
    <td><fieldset disabled><input class="input is-danger"></fieldset></td>
  </tr>
  <tr>
    <td colspan="4">Dark color</td>
  </tr>
  <tr>
    <td><input class="input is-dark"></td>
    <td><input class="input is-dark is-hovered"></td>
    <td><input class="input is-dark is-focused"></td>
    <td><input class="input is-dark is-active"></td>
    <td><fieldset disabled><input class="input is-dark"></fieldset></td>
  </tr>
  <tr>
    <td colspan="4">Light color</td>
  </tr>
  <tr>
    <td><input class="input is-light"></td>
    <td><input class="input is-light is-hovered"></td>
    <td><input class="input is-light is-focused"></td>
    <td><input class="input is-light is-active"></td>
    <td><fieldset disabled><input class="input is-light"></fieldset></td>
  </tr>
  </tbody>
</table>
