<h3 class="subtitle">10 màu cơ bản</h3>
<table class="table is-bordered">
  <thead>
  <tr>
    <th>
      Class
    </th>
    <th>
      Color
    </th>
    <th>
      Example
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>has-text-white</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 100%);"></span>
      <code>hsl(0, 0%, 100%)</code>
    </td>
    <td class="has-text-white has-background-black">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-black</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 4%);"></span>
      <code>hsl(0, 0%, 4%)</code>
    </td>
    <td class="has-text-black">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-light</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 96%);"></span>
      <code>hsl(0, 0%, 96%)</code>
    </td>
    <td class="has-text-light has-background-grey">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-dark</code></td>
    <td><span class="bd-color" style="background:  hsl(0, 0%, 21%);"></span>
      <code>hsl(0, 0%, 21%)</code>
    </td>
    <td class="has-text-dark">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-primary</code></td>
    <td><span class="bd-color" style="background: hsl(171, 100%, 41%);"></span>
      <code>hsl(171, 100%, 41%)</code>
    </td>
    <td class="has-text-primary">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-link</code></td>
    <td><span class="bd-color" style="background: hsl(217, 71%,  53%);"></span>
      <code>hsl(217, 71%, 53%)</code>
    </td>
    <td class="has-text-link">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-info</code></td>
    <td><span class="bd-color" style="background: hsl(204, 86%, 53%);"></span>
      <code>hsl(204, 86%, 53%)</code>
    </td>
    <td class="has-text-info">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-success</code></td>
    <td><span class="bd-color" style="background: hsl(141, 71%,  48%);"></span>
      <code>hsl(141, 71%, 48%)</code>
    </td>
    <td class="has-text-success">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-warning</code></td>
    <td><span class="bd-color" style="background: hsl(48,  100%, 67%);"></span>
      <code>hsl(48, 100%, 67%)</code>
    </td>
    <td class="has-text-warning">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-danger</code></td>
    <td><span class="bd-color" style="background: hsl(348, 100%, 61%);"></span>
      <code>hsl(348, 100%, 61%)</code>
    </td>
    <td class="has-text-danger">Chào thế giới</td>
  </tr>
  </tbody>
</table>


<h3 class="subtitle"> 9 màu xám</h3>
<table class="table is-bordered">
  <thead>
  <tr>
    <th>
      Class
    </th>
    <th>
      Shade
    </th>
    <th>
      Example
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>has-text-black-bis</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 7%);"></span>
      <code>hsl(0, 0%, 7%)</code>
    </td>
    <td class="has-text-black-bis">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-black-ter</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 14%);"></span>
      <code>hsl(0, 0%, 14%)</code>
    </td>
    <td class="has-text-black-ter">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-grey-darker</code></td>
    <td><span class="bd-color" style="background:  hsl(0, 0%, 21%);"></span>
      <code>hsl(0, 0%, 21%)</code>
    </td>
    <td class="has-text-grey-darker">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-grey-dark</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 29%);"></span>
      <code>hsl(0, 0%, 29%)</code>
    </td>
    <td class="has-text-grey-dark">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-grey</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 48%);"></span>
      <code>hsl(0, 0%, 48%)</code>
    </td>
    <td class="has-text-grey">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-grey-light</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 71%);"></span>
      <code>hsl(0, 0%, 71%)</code>
    </td>
    <td class="has-text-grey-light">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-grey-lighter</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 86%);"></span>
      <code>hsl(0, 0%, 86%)</code>
    </td>
    <td class="has-text-grey-lighter">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-white-ter</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 96%);"></span>
      <code>hsl(0, 0%, 96%)</code>
    </td>
    <td class="has-background-black-ter has-text-white-ter">Chào thế giới</td>
  </tr>
  <tr>
    <td><code>has-text-white-bis</code></td>
    <td><span class="bd-color" style="background: hsl(0, 0%, 98%);"></span>
      <code>hsl(0, 0%, 98%)</code>
    </td>
    <td class="has-background-black-bis has-text-white-bis">Chào thế giới</td>
  </tr>
  </tbody>
</table>
