<div class="columns">
  <div class="column is-4">
    <div class="field">
      <label class="label is-small">Input small</label>
      <div class="control">
        <input class="input is-small" placeholder="i'm placeholder">
      </div>
    </div>
    <div class="field">
      <label class="label">Input default</label>
      <div class="control">
        <input class="input" placeholder="i'm placeholder">
      </div>
    </div>
    <div class="field">
      <label class="label is-medium">Input medium</label>
      <div class="control">
        <input class="input is-medium" placeholder="i'm placeholder">
      </div>
    </div>
    <div class="field">
      <label class="label is-large">Input large</label>
      <div class="control">
        <input class="input is-large" placeholder="i'm placeholder">
      </div>
    </div>
  </div>
  <div class="column is-8">
    <div class="field is-horizontal">
      <div class="field-label is-small">
        <label class="label">Input small</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input is-small" type="text" placeholder="i'm placeholder">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Input default</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="i'm placeholder">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-medium">
        <label class="label">Input medium</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input is-medium" type="text" placeholder="i'm placeholder">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-large">
        <label class="label">Input medium</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="text" placeholder="i'm placeholder">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="subtitle has-text-centered">Disable</h3>
<div class="columns">
  <div class="column is-4">
    <fieldset disabled>
      <div class="field">
        <label class="label is-small">Input small</label>
        <div class="control">
          <input class="input is-small" placeholder="i'm placeholder">
        </div>
      </div>
    </fieldset>
  </div>
  <div class="column is-8">
    <fieldset disabled>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">Input small</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input is-small" type="text" placeholder="i'm placeholder">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<h3 class="subtitle has-text-centered">Thông báo lỗi</h3>
<div class="columns">
  <div class="column is-4">
    <div class="field">
      <label class="label">Input default</label>
      <div class="control">
        <input class="input is-danger" placeholder="i'm placeholder">
      </div>
      <p class="help is-danger">
        This field is required
      </p>
    </div>
  </div>
  <div class="column is-8">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Subject</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input is-danger" type="text" placeholder="e.g. Partnership opportunity">
          </div>
          <p class="help is-danger">
            This field is required
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
