<div class="notification is-warning">
  <strong>Định nghĩa:</strong><br/>
  Form input là các thành phần có nhiệm vụ tiếp nhận dữ liệu được nhập vào từ bàn phím(bao gồm bàn phím ảo và bàn phím
  vật lý hoặc các thiết bị ngoại vi khác).<br/>
  Tùy vào mục đích sử dụng mà có các mức độ của input như sau
</div>

<div class="tabs is-center">
  <ul>
    <li routerLink="/bulma/form-input/lv1" routerLinkActive="is-active"><a>LV1: chỉ có input</a></li>
    <li routerLink="/bulma/form-input/lv2" routerLinkActive="is-active"><a>LV2: input có tiêu đề</a></li>
    <li routerLink="/bulma/form-input/lv3" routerLinkActive="is-active"><a>LV3: input có icon</a></li>
    <li routerLink="/bulma/form-input/lv4" routerLinkActive="is-active"><a>LV4: input có phần mở rộng</a></li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>
