<div class="notification is-info">
  Icon trong input có thể dùng trong việc mô tả cho trường nhập liệu hoặc thông bảo chỉ thị lỗi cụ thể nào đó. Tùy vào
  mục đích sử dụng mà các icon được điều kiến ẩn, hiện, thay đổi kích thước hoặc màu sắc.
</div>
<div class="columns">
  <div class="column is-4">
    <div class="field">
      <label class="label is-small">Small input</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-small" type="email" placeholder="Normal">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Normal input</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Extra small">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope fa-xs"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-check fa-xs"></i>
    </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Normal">
        <span class="icon is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-right">
      <i class="fas fa-check"></i>
    </span>
      </div>
    </div>

    <div class="field">
      <label class="label is-medium">Medium input</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-medium" type="email" placeholder="Extra small">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope fa-xs"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-check fa-xs"></i>
    </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input is-medium" type="email" placeholder="Small">
        <span class="icon is-left">
      <i class="fas fa-envelope fa-sm"></i>
    </span>
        <span class="icon is-right">
      <i class="fas fa-check fa-sm"></i>
    </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input is-medium" type="email" placeholder="Normal">
        <span class="icon is-medium is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-medium is-right">
      <i class="fas fa-check"></i>
    </span>
      </div>
    </div>
    <div class="field">
      <label class="label is-large">Large input</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-large" type="email" placeholder="Extra small">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope fa-xs"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-check fa-xs"></i>
    </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input is-large" type="email" placeholder="Small">
        <span class="icon is-left">
      <i class="fas fa-envelope fa-sm"></i>
    </span>
        <span class="icon is-right">
      <i class="fas fa-check fa-sm"></i>
    </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input is-large" type="email" placeholder="Normal">
        <span class="icon is-large is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-large is-right">
      <i class="fas fa-check"></i>
    </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input is-large" type="email" placeholder="Large">
        <span class="icon is-medium is-left">
      <i class="fas fa-envelope fa-lg"></i>
    </span>
        <span class="icon is-medium is-right">
      <i class="fas fa-check fa-lg"></i>
    </span>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <h4 class="subtitle">Validate</h4>
    <div class="field">
      <label class="label">Normal input</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="email" placeholder="Extra small">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope fa-xs"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-exclamation fa-xs"></i>
    </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input class="input is-danger" type="email" placeholder="Normal">
        <span class="icon is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
      </div>
    </div>

    <h4 class="subtitle">Disable</h4>
    <fieldset disabled>
      <div class="field">
        <label class="label">Normal input</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="email" placeholder="Extra small">
          <span class="icon is-small is-left">
      <i class="fas fa-envelope fa-xs"></i>
    </span>
          <span class="icon is-small is-right">
      <i class="fas fa-check fa-xs"></i>
    </span>
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="email" placeholder="Normal">
          <span class="icon is-left">
      <i class="fas fa-envelope"></i>
    </span>
          <span class="icon is-right">
      <i class="fas fa-check"></i>
    </span>
        </div>
      </div>
    </fieldset>
  </div>
</div>

