<div class="container is-fluid">
  <div class="columns">
    <div class="column is-narrow">
      <div style="width: 230px">
        <aside class="menu">
          <p class="menu-label">
            Tổng quan
          </p>
          <ul class="menu-list">
            <li><a routerLink="/gioi-thieu" routerLinkActive="is-active">Giới thiệu</a></li>
            <li><a routerLink="/bulma/mau-sac" routerLinkActive="is-active">Màu sắc</a></li>
            <li><a routerLink="/bulma/van-ban" routerLinkActive="is-active">Văn bản</a></li>
            <li><a routerLink="/bulma/kich-thuoc" routerLinkActive="is-active">Kích thước</a></li>
          </ul>
          <p class="menu-label">
            Form
          </p>
          <ul class="menu-list">
            <li><a routerLink="/bulma/form-input" routerLinkActive="is-active">Form input</a></li>
            <li><a routerLink="/bulma/form-select" routerLinkActive="is-active">Form select</a></li>
            <li><a routerLink="/bulma/form-check-radio" routerLinkActive="is-active">Form check radio</a></li>
            <li><a routerLink="/bulma/form-date-pick" routerLinkActive="is-active">form date pick</a></li>
          </ul>
        </aside>
      </div>
    </div>
    <div class="column">
      <h1 class="title" *ngIf="title">{{title}}</h1>
      <h2 class="subtitle" *ngIf="subTitle">{{subTitle}}</h2>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

